@import url('https://fonts.googleapis.com/css?family=Quicksand&subset=latin-ext');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding-top: 40px;
	background: #2c3e50;
	color: #ecf0f1;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}
ul {
	padding: 0;
}
ul li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 20px;
	padding: 7px 0;
	width: 100%;
}
ul li span {
	font-size: 13px;
	padding-left: 20px;
}
h1 {
	padding: 10px 0;
	margin: 0 auto 40px auto;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(236, 240, 241,0.3);
}
h2 {
	margin: 30px 0 20px 0;
}
.search-wrapper {
	width: 300px;
	height: 35px;
	margin: 0 auto;
	border-radius: 3px;
}
button {
	border: none;
	background: #ecf0f1;
	width: 15%;
	height: 35px;
	color: #000;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	float: left;
	font-size: 17px;
	cursor: pointer;
}
input {
	float: left;
	width: 85%;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: none;
	height: 35px;
	padding-left: 10px;
	font-size: 18px;
}
input[type="text" i] {
	color: #2c3e50;
	letter-spacing: 1px;
}